style(type='text/css')
  table.fixed { table-layout:fixed; }
  table.fixed td { overflow: hidden; }

.table-responsive
  table.table.table-striped.fixed
    col(width='20%')
    col(width='40%')
    col(width='40%')
    each val, title in specs
      tr
        td!= title
        td!= val[0] || '&mdash;'
        td!= val[1] || '&mdash;'
