<h2 class="prd-SpecificationsHl">Specifications of HTC Desire 600 Dual SIM 8GB Stealth Black</h2>
<table class="ui-grid ui-gridFull prd-attributes">
  <tr class="even">
    <td class="strong">SKU</td>
    <td><div id="pdtsku">HT964ELAKNZ7ANMY-522558</div></td>
  </tr>
  <tr class="odd">
    <th class="strong">Model</th>
    <td class="">Desire 600</td>
  </tr>
  <tr class="even">
    <th class="strong">Size (L x W x H)</th>
    <td class="">20x10x10</td>
  </tr>
  <tr class="odd">
    <th class="strong">Weight</th>
    <td class="">1</td>
  </tr>
  <div itemprop="weight" itemscope="" itemtype="http://schema.org/QuantitativeValue">
    <meta itemprop="value" content="1">
  </div>
  <tr class="even">
    <th class="strong">Color</th>
    <td class="">Stealth Black</td>
  </tr>
  <meta itemprop="color" content="Stealth Black">
  <tr class="odd">
    <th class="strong">Warranty Period</th>
    <td class="">1 Year</td>
  </tr>
  <tr class="even">
    <th class="strong">Warranty Type</th>
    <td class="">Local Manufacturer Warranty</td>
  </tr>
</table>

