extends layout

block content
  h1= title
  p Enter URLs of two gadgets to compare:

  form(method='post', action='/compare', data-role='urls_form')
    label(for='name') Fist:
    input(type='text',name='urls',id='first_url')
    label(for='email') Second:
    input(type='text',name='urls',id='second_url')
    input(type='submit',name='submit',value='Submit').submit-button

  div(data-role='compare')
