extends layout

block content
  .container(data-role='compare')
    .col-lg-12
      h1 Compare the gadgets
      p Enter URLs of two gadgets to compare:

    form
      .form-group.col-md-6
        input(type='text', name='first_url', id='first_url', placeholder='First').form-control

      .form-group.col-md-6
        input(type='text', name='second_url', id='second_url', placeholder='Second').form-control

      .col-md-12
        input(type='submit', name='submit', value='Compare', data-role="submit_button", data-loading-text='Loading...').btn.btn-default.btn-lg.btn-block

    div(data-role='results').col-md-12
