<h2 class="prd-SpecificationsHl">Specifications of Apple iPhone 5 16GB Unlocked Black</h2>
<table class="ui-grid ui-gridFull prd-attributes">
  <tr class="even">
    <td class="strong">SKU</td>
    <td><div id="pdtsku">AP564EL39CCAANMY-112364</div></td>
  </tr>
  <tr class="odd">
    <th class="strong">Product Line</th>
    <td class="">Apple iPhone 5 Mobile Phones</td>
  </tr>
  <tr class="even">
    <th class="strong">Model</th>
    <td class="">iPhone 5</td>
  </tr>
  <tr class="odd">
    <th class="strong">Size (L x W x H)</th>
    <td class="">5.8 x 0.7 x 12.3cm</td>
  </tr>
  <tr class="even">
    <th class="strong">Weight</th>
    <td class="">3</td>
  </tr>
  <div itemprop="weight" itemscope="" itemtype="http://schema.org/QuantitativeValue">
    <meta itemprop="value" content="3">
  </div>
  <tr class="odd">
    <th class="strong">Color</th>
    <td class="">Black</td>
  </tr>
  <meta itemprop="color" content="Black">
  <tr class="even">
    <th class="strong">Type</th>
    <td class="">Mobile Phone</td>
  </tr>
  <tr class="odd">
    <th class="strong">Display Size (inch)</th>
    <td class="">4.0</td>
  </tr>
  <tr class="even">
    <th class="strong">Capacity (GB)</th>
    <td class="">16</td>
  </tr>
  <tr class="odd">
    <th class="strong">CPU Speed (GHz)</th>
    <td class="">1.20</td>
  </tr>
  <tr class="even">
    <th class="strong">Number of CPUs</th>
    <td class="">1</td>
  </tr>
  <tr class="odd">
    <th class="strong">Megapixels</th>
    <td class="">8.0</td>
  </tr>
  <tr class="even">
    <th class="strong">Operating System</th>
    <td class="">iOS</td>
  </tr>
  <tr class="odd">
    <th class="strong">Battery Type</th>
    <td class="">Built-in rechargeable lithium-ion battery<br>Talk time: Up to 8 hours (3G)<br>Standby time:Up to 225 hours<br>Internet use: Up to 8 hours on <b>3G</b>, up to 8 hours on <b>LTE</b>, up to 10 hours on <b>WiFi</b></td>
  </tr>
  <tr class="even">
    <th class="strong">Uses & Properties</th>
    <td class="">All-new design<br>Brilliant 4-inch retina display<br>Ultrafast wireless<br>Powerful A6 chip<br>All-new EarPods<br>All-new lightning connector<br>iOS 6: The world's most advanced mobile operating system<br>iCloud<br></td>
  </tr>
  <tr class="odd">
    <th class="strong">Language</th>
    <td class="">English (US), English (UK), Chinese (Simplified), Chinese (Traditional), French, German, Italian, Japanese, Korean, Spanish, Arabic, Catalan, Croatian, Czech, Danish, Dutch, Finnish, Greek, Hebrew, Hungarian, Indonesian, Malay, Norwegian, Polish, Portugue</td>
  </tr>
  <tr class="even">
    <th class="strong">Graphic Chipset</th>
    <td class="">PowerVR SGX 543MP3 (triple-core graphics)</td>
  </tr>
  <tr class="odd">
    <th class="strong">Network</th>
    <td class="">3G<br>802.11a/b/g/n WiFi (802.11n 2.4GHz and 5GHz)<br>Bluetooth 4.0 wireless technology</td>
  </tr>
  <tr class="even">
    <th class="strong">CPU Model</th>
    <td class="">Apple A6 Dual core</td>
  </tr>
  <tr class="odd">
    <th class="strong">SIM card type</th>
    <td class="">Nano SIM</td>
  </tr>
  <tr class="even">
    <th class="strong">Warranty Period</th>
    <td class="">1 Year</td>
  </tr>
  <tr class="odd">
    <th class="strong">Warranty Type</th>
    <td class="">Local Manufacturer Warranty</td>
  </tr>
  <tr class="even">
    <th class="strong">Input Type</th>
    <td class="">Touchscreen</td>
  </tr>
  <tr class="odd">
    <th class="strong">OS (Specific)</th>
    <td class="">6, upgradable to 6.1.4</td>
  </tr>
  <tr class="even">
    <th class="strong">Display Features</th>
    <td class="">Retina display<br>Widescreen Multi-Touch display<br>1136 x 640-pixel resolution at 326 ppi<br>800:1 contrast ratio<br>Fingerprint-resistant oleophobic coating on front<br>Support for display of multiple languages and characters simultaneously</td>
  </tr>
</table>


