body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error {
  color: #B94A48;
}

table.fixed {
  table-layout:fixed;
}

table.fixed td {
  overflow: hidden;
}
